@import "../../assets/scss/sizes.scss";
@import "../../assets/scss/colors.scss";

.TimelineInput {

  &_textarea {
    margin: $baseMargin;
    height: $textHeight;
    width: 80%;
    border: $borderWidth solid $borderColor;
    border-radius: $borderRadius;
    float: left;
  }

  &_textareaError {
    background-color: rgba(255, 0, 0, 0.3);;
  }

  &_button {
    margin-top: $baseMargin;
    height: $textHeight + 4px;
    color: $buttonTextColor;
    background-color: $buttonColor;
    border-radius: $borderRadius;
    padding-left: $baseMargin;
    padding-right: $baseMargin;
    border: 0;
  }

  &_inputFiles {
    margin-left: $baseMargin;
  }
}