<div class="TimelineCell">
  <img [src]="userImageUrl" class="TimelineCell_userImage">
  <span class="TimelineCell_userName">{{message.createdUserName}}</span>
  <span class="TimelineCell_timestamp">{{message.createdAt | date: 'yyyy/MM/dd hh:mm'}}</span>
  <div class="TimelineCell_text">{{message.text}}</div>
  <div *ngIf="imageUrl">
    <img [src]="imageUrl" class="TimelineCell_image" (click)="detailImage.show()">
    <sm-modal title="" class="basic" #detailImage>
      <modal-content>
        <img [src]="imageUrl" class="TimelineCell_detailImage" />
      </modal-content>
    </sm-modal>
  </div>
</div>