@import "../../assets/scss/sizes.scss";
@import "../../assets/scss/colors.scss";

$imageSize: 36px;

.TimelineCell {
  padding: $baseMargin * 2;
  &_userImage {
    width: $imageSize;
    height: $imageSize;
    border-radius: $imageSize / 2;
    background-color: $userBgColor;
    float: left;
    margin-top: 6px;
  }

  &_userName {
    color: $captionColor;
    font-size: $captionFont;
    margin-left: $baseMargin;
    margin-right: $baseMargin;
  }

  &_timestamp {
    color: $captionColor;
    font-size: $captionFont;
  }

  &_text {
    white-space: pre-wrap;
    word-break: break-all;
    display: block;
    width: 95%;
    color: $bodyColor;
    font-size: $bodyFont;
    line-height: $lineHeight;
    top: -10px;
    margin-left: $imageSize + $baseMargin;
  }
}