@import "../assets/scss/sizes.scss";

.Header {  
  height: $headerHeight;
  width: 100%;
  background-color: orange;

  &_title {
    color: white;
    margin-left: $baseMargin;
    height: $headerHeight;
    line-height: $headerHeight;
    text-align: center;
    float: left;
  }
}
